<!DOCTYPE html>
html(lang="en")
  include inc/head
    title Frequently Asked Questions
    meta(name="Description" content="Dr Ryan Hislop is a Chiropractor at the Chiropractic Health and Wellness Centre in Mudgee")
  body.is-preload
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-P7NZSBW", height="0", width="0", style="display:none;visibility:hidden")
    header#header
      include inc/header
    include inc/topbar
    #main
      h1 Frequently Asked Questions
      section 

        article
          h3 Can Chiropractic treatment help?
          p The spine is an intricate and sophisticated structure. So when things go wrong it requires a unique expertise to diagnose the various conditions that might result.
          p While there are many fanciful claims made about the spine, no <em>single</em> treatment approach is a panacea. However, it is vital that your clinician is up-to-date with current advances in research. While each profession has its unique attributes and tools, we all share data from a common pool of scientific research, and it is this that directs the state-of-the-art treatment approach.
          p By first making an accurate <strong>diagnosis</strong> we can be sure that you are in the right place and that we can give you the best care that science supports.
        article
          h3 Can a spinal bone really go "out of place"?
          p One of the great misconceptions about the spine is that your bones can 'go out of place'. While true dislocations or sub-luxations (partial dislocations) do occur as a result of trauma, these injuries are serious and often require hospitalisation. Unfortunately there is often confusion regarding the term 'subluxation', as chiropractors historically used this word to describe the less severe forms of spinal dysfunction seen on a daily basis.
          p So what <em>does</em> happen to the spine?
          p In truth, there are a myriad of possible forms of spinal problem and each should be treated individually. When the spine becomes painful it may be the result of local tissue damage - perhaps to the lining of a spinal joint, or a tear in the wall of an intervertebral disc. Interestingly, such damage doesn't usually happen as a result of significant trauma. Rather, our patients often tell us that they suddenly felt pain during some innocuous everyday movement - or that their discomfort crept up on them slowly 'for no reason'. So what's going on here?
          p In many cases spinal problems develop slowly over time without any clues to their existence - a bit like tooth decay or heart disease. But the 'problem' might not be what you think. The real reason that a spine might spontaneously become painful has more to do with a loss of spinal <em>control</em> than any loss of <em>strength</em>. The human spine is an incredibly complex and flexible structure that requires precision control if you don't want to injure it. What's more, the moment-by-moment regulation of joint alignment is all done <em>unconsciously</em> - just like the beating of your heart. And, in the same way that people might develop problems with their heart rate or rhythm (a control problem), you may also suffer control problems in your spine. If this happens, then you may well injure yourself with a simple movement.
          p Interestingly, spinal adjustments work directly by stimulating the control centres of your spinal cord and nervous system to help them do their job better and allow you to maintain your own alignment better. We then follow this up with exercises to help you amplify the improvements that we make on your behalf.
        article
          h3 Is a course of treatment necessary?
          p In many cases you will need a course of treatment. Adjustments of the spine is dose-dependent and its effects are cumulative over time. When adjustments are combined with exercises we can achieve a strong and stable spine that will handle the challenges that you throw at it. 
          p As discussed above, having a pain-free and healthy spine is all about <em>control</em> - and much of the control 'circuitry' for your spine resides in the balance centres of your brain. Chronic spinal problems have been shown to involve poor balance and coordination of the spinal muscles. So to help you on your path to recovery we'll need to identify and address any such issue.
          p To achieve spinal stability and control is not unlike any other discipline. It takes time to develop, and here at Aligned Chiro Orange we are experienced in putting together the rehabilitation programs that you need. Furthermore, our dedication to Evidence-Based Practice means that we will measure your progress every step of the way.
        article
          h3 Is it safe?
          p Your safety is our first concern, but this involves more than just the way in which you may be treated.
          p Firstly, your safety depends upon the accuracy of your <em>diagnosis</em>. For this reason we will not compromise in our initial investigation of your case. Our clinical examination and access to state-of-the-art radiology services means that we can be sure that you are being treated in the most appropriate fashion.
          p Secondly, we work in close co-operation with other medical professionals to ensure that you are appropriately referred if your condition requires another speciality or approach.
          p Finally, spinal manipulation has proven itself to be remarkably safe when used appropriately. The effectiveness and safety of any tool is only as good as the knowledge that underlies its use, and it is this dedication to knowledge that you can rely upon at Aligned Chiro Orange.
        article
          h3 Do I need a referral?
          p While some patients do come via referral from their general practitioner or specialist, it is certainly not mandatory. However, Dr Ryan is always keen to collaborate with your medical team (where appropriate) to ensure that you get the best care possible.
        article
          h3 What will happen on my first visit?
          p First and foremost we need to understand your medical and health history. Unfortunately many health problems can mimic disorders of the spine and, as such, we will discuss your history in some detail. This will be followed by a comprehensive examination in order to make the most accurate <strong>diagnosis</strong>.
          p The initial consultation will usually take between 30-45 minutes depending upon the complexity of your case. Whilst a physical examination is very important, your modesty will be preserved at all times and gowns are provided if it is necessary to remove any clothing. Please be assured that if we do not think that we can help you, or if our examination reveals any additional concerns, we will refer you appropriately and liaise with your general practitioner on your behalf.
        article
          h3 Will I need X-rays, MRI of other tests?
          p It is not necessary for you to undergo any X-rays or other tests <u>before</u> consulting with the chiropractors at Aligned Chiro Orange. Diagnostic imaging such as X-rays, CT and MRI will only be acquired if clinically indicated. Our location allows us to work closely with Lumus Radiology which is conveniently located on the ground floor of the building. We also work closley with PRP Imaging in Orange,
        article
          h3 Can I claim on Private Health Insurance or Medicare?
          p All major private health funds offer cover for chiropractic services - usually on their 'extras' table. However, annual limits do apply and the amount that you are reimbursed will vary. Check with your own fund to find out the exact details in your case.
          p If you are referred by your general practitioner as part of a treatment plan then you are able to claim a portion of your fees from Medicare (up to a maximum of 5 visits per year). You will need to talk to your GP about the appropriate referral.
          p We will provide any necessary receipts for you to claim with your health fund or Medicare.
        article
          h3 Will I be treated on my first visit?
          p If you are in pain then naturally you'll be keen to start treatment. We understand that. But it is most important that we make an accurate diagnosis <u>first</u>, so that we know exactly what's causing your problem. Our chiropractors are hugely experienced and will do everything they can to help you as quickly as possible.
          p Sometimes the situation calls for an X-ray, or an MRI scan, or blood tests first - but we'll explain all of this to you and will only order these tests if they are truly necessary. Once we can ensure we know what will get you the result you desire in the fastest time and in the safest and most appropriate manner we can start treatment. 
      include inc/contact
    include inc/footer
    include inc/foot