<!DOCTYPE html>
html(lang="en")
  include inc/head
    title Dr Ryan Hislop
    meta(name="Description" content="Dr Ryan Hislop is a Chiropractor at the Chiropractic Health and Wellness Centre in Mudgee")
  body.is-preload
    header#header
      include inc/header
    #main
      include inc/intro
      include inc/articles
      include inc/contact
    include inc/footer
    include inc/foot