html(lang="en")
  include inc/head
    title Meet Dr Ryan Hislop
  body.is-preload
    header#header
      include inc/header
    include inc/topbar
    #main 
      section
        h1 Meet Dr Ryan Hislop (Chiropractor)
        p "My number one purpose is to help my patients achieve their goals and ultimately, to help them get back to leading their highest quality of life."
        p Joining Bathurst Chiropractor, Dr Jesse Middleton of Chiropractic Health & Wellness Centre, is Dr Ryan Hislop, who works exclusively at our Mudgee clinic location.
        figure(style="display: flex; justify-content: center; margin: 2rem;")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qKW3Npj8xhY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        h3(style="text-transform: uppercase;") A drive to serve others 
        p Dr Ryan has always had a passion for helping people, and became a chiropractor because he wanted to help his patients live their best possible life.

        p He says, "Being a chiropractor allows me to help people through the entire care process, often from seeing someone present in acute pain and disability, to seeing them get back to enjoying the activities and hobbies they love, and most satisfying of all—maintaining that high quality of life. It is very satisfying to see these results and see how this impacts their life and those around them."

        p He chose to attend Macquarie University for his chiropractic studies.

        h3(style="text-transform: uppercase;") Helping you back to wellness one step at a time
        p With a thorough and careful approach, Dr Ryan takes time to discover the exact cause of your symptoms before proceeding with treatment. "Symptoms are often misleading and only tell part of the story. It takes some time and careful examination to see precisely what has malfunctioned in the body for the problem to arise."

        h3(style="text-transform: uppercase;") Outside the office
        p Apart from being a chiropractor, Dr Ryan is also a husband to his beautiful wife, Jess. "In our free time, we both enjoy spending days on her parent's farm at Yeoval, dirt bike riding, and spending time with friends. We also have a great kelpie named Belle, who ensures we get lots of exercise!

        p Both my wife and I are passionately involved in youth work and youth ministry. Each Friday night we lead a group of 10-15 teenagers at Mudgee Baptist Church. It is a lot of fun and very worthwhile. Once a year, we also lead 30-40 teenagers on a dirtbike camp in the southern highlands. I am also a member of the Rural Fire Service."
      include inc/contact
    include inc/footer
    include inc/foot