<!DOCTYPE html>
html(lang="en")
  include inc/head
    title Performance and Prevention with Chiropractic
  body.is-preload
    header#header
      include inc/header
    #main
      section
        header.major
          p June 25 | Dr Ryan Hislop
          h1 Performance and Prevention with Chiropractic
          h3 Recent research from New Zealand has found that Chiropractic care may reduce gym and fitness-related injuries whilst improving performance. 
        
        p According to Dr Heidi Haavik, Director of Research at the New Zealand College of Chiropractic, the inability of some people to properly activate and control their core muscles when engaging in exercise, predisposes them to lower back injury. This may be reversible with regular chiropractic care. 

        p 
          em "We know that delayed trunk muscle reflex responses increase the risk of low back injuries. Research suggests that this is partly due to a failure of the brain to predict what is going to happen during some movements, affecting what is known as feed-forward activation time of the deep abdominal musculature. There is now accumulating evidence that chiropractic care may play a part in improving the ability of the brain to engage the core muscles appropriately and stabilise the spine"
          | , states Dr Haavik.
        
        p Although millions of patients have benefited from chiropractic over the last 115 years, like many other successful modalities, it has taken time for science to catch up and demonstrate how it actually works. It now appears that an inability of the brain to activate the core muscles in time may be the cause of many gym and fitness-related injuries. It may be due to poor nervous system coordination which you can't feel until it is too late.

        p According to Dr Haavik, "Chiropractic care improves the communication between the brain and body and results in better control of the core muscles during body movements, so that your spine is at less risk of injury."

        p New Zealand research has already discovered that chiropractic care may have a role to play in assisting those who display poor proprioceptive function (the ability of the brain to sense the relative position of the body parts in space, and the ability to move accurately and precisely without having to look at what you are doing). Without accurate proprioception you would not be able to drive a car safely or even walk, as you would need to constantly look at your arms and legs to see what they were doing.

        p As Dr Haavik explains, 
          em "When proprioceptive function is impaired, for instance not knowing precisely where your arm is when your eyes are closed, you are more likely to be clumsy, accident prone or fall. We know that chiropractic care assists brain function in many ways, one of which is proprioceptive function and this improves the accuracy of the internal brain map so your brain accurately knows what is going on all the times."

        p Over the last century, the premise of Chiropractic has been to not only assist people in feeling less pain, but also allowing their body to function at its best. This non-symptomatic type care is now being utilised to not only improve performance in athletes, but also to prevent injuries and improve performance in people of all ages and shapes. In the end, the Chiropractor's role is to assist your body in working at its best.

      include inc/contact
    include inc/footer
    include inc/foot