<!DOCTYPE html>
html(lang="en")
  include inc/head
    title Stroke, Chiropractic, and the Annals of Internal Medicine
  body.is-preload
    header#header
      include inc/header
    include inc/topbar
    #main
      section
        header.major
          p Feb 22 | Dr Ryan Hislop
          h1 Stroke, Chiropractic, and the Annals of Internal Medicine
          h3 Chiropractic care and the risk of having a stroke. Is there a link? Or is it fake news?
        p Earlier this year, the <strong>Annals of Internal Medicine</strong> released a new research review which set to examine any possible link between cervical artery dissection (stroke) and chiropractic adjustments (spinal manipulation).
        p They also released a risk assessment strategy for all clinicians and doctors to use when examining patients who may be presenting with stroke-like signs and symptoms.
        p The paper, "
          a(href='https://pubmed.ncbi.nlm.nih.gov/30889367/' target='_blank' rel='noopener')
            cite
              em A risk-benefit assessment strategy to exclude cervical artery dissection in manual spinal therapy: A comprehensive review,
          | " looked back at all of the literature around stroke and manual adjustments or manipulation. <strong>They found no direct causation between getting an adjustment and having a stroke.</strong>
          | There's never been any literature to support causation.

        h3.uppercase Why is there so much confusion?
        p The researchers believe it may start with the patients presenting symptoms. The symptoms that cause many people to visit a chiropractor, a physiotherapist or medical doctor (neck pain, headache, etc.) are also some of the most common symptoms associated with a stroke in progress. So how can you tell the difference?
        h4 Let's take it from the top.
        p A cervical artery dissection occurs when a tear in the internal carotid or vertebral artery results in an intradural hematoma, aneurysm, or dilation. 
          strong The incidence of cervical artery dissection is very low at less than 3/100,000 people per year.
        p There isn't a practicing chiropractor that hasn't been asked about the possible link between stroke and adjustments. Why? It's believed that historical case reports from neurologists may be a primary factor. In the past, they have produced a majority of reports which attempt to "prove" an adjustment caused a stroke. However, these case reports are highly subjective, have never been able to prove causation, and contain none of the data needed to show a link between the adjustment and the stroke.
        p I don't believe it's because neurologists don't like chiropractors, but these case reports (which are extremely rare) are very sensational and often are picked up by news organizations and discussed as if it was a randomized clinical trial.
        p Previous research has shown that the probability of a stroke is the same if you see a chiropractor or a primary care doctor. As such, there's 
          strong no established causation between cervical spine manipulation and an increased risk of a cervical artery dissection.
        h3.uppercase Here are a few key findings from this paper:
        blockquote "The World Health Organization regards manual mobilization and or spinal manipulative treatment conducted by chiropractors to be a safe and effective treatment with few mild transient effects."
        blockquote "several extensive cohort studies and meta-analysis have found no excess risk of CAD, resulting in secondary ischemic stroke for chiropractics empty compared to primary care follow up."
        blockquote "History taking, especially regarding the time of symptom onset is the single most important factor for detecting subtle symptoms of a CAD."
        p As we continue to understand more about identifying a potential cervical artery dissection, it seems as though a thorough history is critical, as it is often early misdiagnosis at the centre of this condition.
        p Chiropractors, GPs, and orthopaedic specialists all learn a variety of orthopaedic tests to be used as a screening tool for CAD. Unfortunately, these orthopaedic tests are not very reliable or sensitive. The latest literature indicates that using history taking assessment tool may be a much better option than these antiquated tests to determine CAD.
        p The assessment begins with classifying environmental risks and inherited risks. A few examples of environmental risks would be a recent acute infection, vitamin deficiency, low body mass index, low cholesterol, or smoking. Examples of inherited risks are a medical history of arterial anomalies, fibromuscular dysplasia, connective tissue disorders, etc.
        p This assessment strategy is a fantastic tool because it can be used as a step-by-step guide to identify patients at risk and make better medical decisions.
      include inc/contact
    include inc/footer
    include inc/foot