<!DOCTYPE html>
html(lang="en")
  include inc/head
    title Who and What are Chiropractors
  body.is-preload
    header#header
      include inc/header
    include inc/topbar
    #main
      section
        header.major
          p March 9 | Dr Ryan Hislop
          h1 Who and What are Chiropractors
          h3 Chiropractors in Australia are a nationally registered and regulated health care profession. Chiropractic is a drug and surgery free modality of treatment concerned with the diagnosis, management and prevention of mechanical disorders of the musculoskeletal system; this includes the effects of these disorders on the function of the nervous system and general health. 
        
        p It is based on the teachings of Galen and Hippocrates and the premise that the body can respond appropriately to its environment provided that the nervous system is free of interference. This was further developed by Palmer which led to a focus on the spinal column and its functioning. In summary, chiropractors focus on the detection and correction of aberrant spinal function and its subsequent effect on how the nervous system controls and coordinates the body in response to its environment.

        p In Australia, chiropractors are educated in the University sector at an under-graduate and post-graduate level and there is a growing research and evidence base not only in Australia but through international federations. As with other healthcare professions, there are internationally and nationally recognised standards of qualification to enable practice in Australia and this is part of the National Registration and Accreditation Scheme.

        cite Extracted from the Chiropractors Association of Australia "Chiropractic and You" 
          a(href="https://www.chiro.org.au/patients/about-chiropractic/chiropractic-and-you/")  https://www.chiro.org.au/patients/about-chiropractic/chiropractic-and-you
      include inc/contact
    include inc/footer
    include inc/foot