<!DOCTYPE html>
html(lang="en")
  include inc/head
    title Why such a good feeling?
  body.is-preload
    header#header
      include inc/header
    #main
      section
        header.major
          p August 27 | Dr Ryan Hislop
          h1 Why such a good feeling?
          h3 Most people say they feel much better after a chiropractic adjustment, but now there is scientific documentation of why people experience this. 
        p To determine what occurs physiologically after a chiropractic adjustment, scientists at the University of Spain took 30 graduate students with no symptoms and assigned them to receive cervical adjustments, thoracic adjustments, or no adjustments at all. Blood samples were taken before the adjustment, immediately after it, and two hours later. The scientists sought to understand how chemicals in the body change in response to chiropractic adjustments.
        h3 What Happened?
        p Researches looked at four chemicals in the blood plasma: neurotensin, oxytocin, cortisol, and orexin A. Neurotensin is thought to play a role in neutralising pain due to stress. It interacts with the serotonin neurons of the brain, those ones that keep you calm and cool as a cucumber when times get rough. Neurotensin also affects the activity of the oxytocin cells in the brain.
        p Oxytocin is the hormone that acts as a chemical messenger (known as a neurotransmitter) in the brain. When levels are high, you want to bond with the people around you. Oxytocin levels are high when moms are giving birth, breastfeeding their babies, and when you kiss your loved ones. It's anti-inflammatory, and its levels increase the trust you feel from others.
        p Cortisol acts to decrease local edema and pain by blocking early stages of inflammation. High levels also promote wound healing. Studies show that an increase of cortisol is a good painkiller. Orexin-A is a neuropeptide that is associated with pain control.
        h3 How Adjustments Changed Hormones
        p After the adjustment, the levels of cortisol, neurotensin, and oxytocin rose. This tells you that the adjustment can cause definite increases in these neurotransmitters and hormones. The body interpreted the adjustment as a mechanical force on the tissues that caused them to synthesize the neuropeptides.
        p They also found that cervical adjustments increased levels of neuropeptides higher than thoracic manipulations.
        p What this whole study tells us is that you are getting more than just a better range of motion when you get your chiropractic adjustments. You're getting positive effects on the entire nervous system that are making widespread changes in your entire body. You're getting pain control in an instant from educated human touch.
        p And now it can't be disputed. Chiropractic works and now we know why it's better than pain-killing drugs with side effects.
        cite Reference <br><em>Plaza-Manzano, G., et al. Changes in biochemical markers of pain perception and stress response after spinal manipulation. Journal Orthopaedic and Sports Physical Therapy 2014;44(4):231-9. doi: 10.2519/jospt.2014.4996.</em>
      include inc/contact
    include inc/footer
    include inc/foot