section
  h2  Recent Articles
  .row
    article.col-6.col-12-xsmall.work-item
      a.image.fit.thumb(href="./meet-dr-ryan-hislop.pug" aria-label="Read more about Dr Ryan Hislop")
        picture
          source(srcset="images/thumbs/Dr-Ryan-using-xray-machine-thumb.avif" type="image/avif")
          source(srcset="images/thumbs/Dr-Ryan-using-xray-machine-thumb.webp" type="image/webp")
          source(srcset="images/thumbs/Dr-Ryan-using-xray-machine-thumb.jpg" type="image/jpeg")
          img(src="images/thumbs/Dr-Ryan-using-xray-machine-thumb.jpg" alt="Dr Ryan Hislop moves a X-Ray machine into position." style="background-image: url('images/thumbs/03.jpg');")
      a(href="./meet-dr-ryan-hislop.pug" aria-label="Read more about Dr Ryan Hislop")
        h3 Meet Dr Ryan Hislop (Chiropractor)
      p "My number one purpose is to help my patients achieve their goals and ultimately, to help them get back to leading their highest quality of life."...
    article.col-6.col-12-xsmall.work-item
      a.image.fit.thumb(href="./who-and-what-are-chiropractors.pug" aria-label="Read more about who and what are chiropractors")
        picture
          source(srcset="images/thumbs/chiropractor-team-thumb.avif" type="image/avif")
          source(srcset="images/thumbs/chiropractor-team-thumb.webp" type="image/webp")
          source(srcset="images/thumbs/chiropractor-team-thumb.jpg" type="image/jpeg")
          img(src="images/thumbs/chiropractor-team-thumb.jpg" alt="Chiropractors from the Chiropractic Health and Wellness Center standing side by side" style="background-image: url('images/thumbs/01.jpg');")
      a(href="./who-and-what-are-chiropractors.pug" aria-label="Read more about who and what are chiropractors")
        h3 Who and What are Chiropractors?
      p Chiropractors in Australia are a nationally registered and regulated health care profession...
    article.col-6.col-12-xsmall.work-item
      a.image.fit.thumb(href="./smartphone-posture-epidemic.pug" aria-label="Read more about the smartphone posture epidemic")
        picture
          source(srcset="images/thumbs/dr-ryan-with-patient-thumb.avif" type="image/avif")
          source(srcset="images/thumbs/dr-ryan-with-patient-thumb.webp" type="image/webp")
          source(srcset="images/thumbs/dr-ryan-with-patient-thumb.jpg" type="image/jpeg")
          img(src="images/thumbs/dr-ryan-with-patient-thumb.jpg" alt="Dr Ryan Hislop treating a patient" style="background-image: url('images/thumbs/02.jpg');")
      a(href="./smartphone-posture-epidemic.pug" aria-label="Read more about the smartphone posture epidemic")
        h3 Smartphone posture epidemic
      p Technology is doing some major damage to our younger generations, and it's not just their minds that are affected...
    article.col-6.col-12-xsmall.work-item
      a.image.fit.thumb(href="./degenerative-disc-disease-symptoms.pug" aria-label="Read about the symptoms of Degenerative Disc Disease")
        picture
          source(srcset="images/thumbs/Dr-Ryan-interpreting-xrays-thumb.avif" type="image/avif")
          source(srcset="images/thumbs/Dr-Ryan-interpreting-xrays-thumb.webp" type="image/webp")
          source(srcset="images/thumbs/Dr-Ryan-interpreting-xrays-thumb.jpg" type="image/jpeg")
          img(src="images/thumbs/Dr-Ryan-interpreting-xrays-thumb.jpg" alt="Dr Ryan Hislop interpreting an X-Ray" style="background-image: url('images/thumbs/04.jpg');")
      a(href="./degenerative-disc-disease-symptoms.pug" aria-label="Read about the symptoms of Degenerative Disc Disease")
        h3 What are the symptoms of Degenerative Disc Disease
      p The two major symptoms are stiffness (lack of mobility) and pain.  Interestingly, only the outer 1/3 of the disc is pain sensitive...
    article.col-6.col-12-xsmall.work-item
      a.image.fit.thumb(href="./why-such-a-good-feeling.pug" aria-label="Read why such a good feeling")
        picture
          source(srcset="images/thumbs/Dr-Ryan-treating-a-patient.avif" type="image/avif")
          source(srcset="images/thumbs/Dr-Ryan-treating-a-patient.webp" type="image/webp")
          source(srcset="images/thumbs/Dr-Ryan-treating-a-patient.jpg" type="image/jpeg")
          img(src="images/thumbs/Dr-Ryan-treating-a-patient.jpg" alt="Dr Ryan treating a patient")
      a(href="./why-such-a-good-feeling.pug" aria-label="Read why such a good feeling")
        h3 Why such a good feeling?
      p Most people say they feel much better after a chiropractic adjustment, but now there is a scientific explanation for why people experience this...
    article.col-6.col-12-xsmall.work-item
      a.image.fit.thumb(href="./performance-and-prevention-with-chiropractic.pug" aria-label="Read more about performance and prevention with Chiropractic")
        picture
          source(srcset="images/thumbs/dirt-motorcycle-riding-thumb.avif" type="image/avif")
          source(srcset="images/thumbs/dirt-motorcycle-riding-thumb.webp" type="image/webp")
          source(srcset="images/thumbs/dirt-motorcycle-riding-thumb.jpg" type="image/jpeg")
          img(src="images/thumbs/dirt-motorcycle-riding-thumb.jpg" alt="A man riding an offroad motorcycle over a dirt jump")
      a(href="./performance-and-prevention-with-chiropractic.pug" aria-label="Read more about performance and prevention with Chiropractic")
        h3 Performance and Prevention with Chiropractic
      p Recent research from New Zealand has found that Chiropractic care may reduce gym and fitness-related injuries whilst improving performance...