section#three
  h2 Get In Touch
  p To get in touch please email
    a(href="mailto:drryan@chwc.com.au")  drryan@chwc.com.au
  .row
    .col-6.col-12-small
      ul.labeled-icons
        li
          h3.icon.solid.fa-home
            span.label Address
          address 
            a(href='https://g.page/OrangeChiroHealth?share' target='_blank' rel='noreferrer') Bloomfield Private Hospital<br>
              |  Level 2/1521 Forest Rd, Orange NSW 2800
    //- .col-4.col-12-small
    //-   ul.labeled-icons
    //-     li
    //-       h3.icon.solid.fa-mobile-alt
    //-         span.label Phone
    //-       | 02 6372 3799
    //-     li
    //-       h3.icon.solid.fa-fax
    //-         span.label Fax
    //-       |	02 6372 2849
    .col-6.col-12-small
      ul.labeled-icons
        li
          h3.icon.solid.fa-envelope
            span.label Email
          a(href="mailto:drryan@chwc.com.au") drryan@chwc.com.au