section#three
  h2 Get In Touch
  p To get in touch please email
    a(href="mailto:drryan@alignedchiro.com.au")  drryan@alignedchiro.com.au
  .row
    .col-6.col-12-small
      ul.labeled-icons
        li
          h3.icon.solid.fa-home
            <svg aria-hidden="true" data-prefix="fas" data-icon="home" class="svg-inline--fa fa-home fa-w-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0016 16l112.06-.29a16 16 0 0015.92-16V368a16 16 0 0116-16h64a16 16 0 0116 16v95.64a16 16 0 0016 16.05L464 480a16 16 0 0016-16V300L295.67 148.26a12.19 12.19 0 00-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 00-12-12h-56a12 12 0 00-12 12v72.61L318.47 43a48 48 0 00-61 0L4.34 251.47a12 12 0 00-1.6 16.9l25.5 31A12 12 0 0045.15 301l235.22-193.74a12.19 12.19 0 0115.3 0L530.9 301a12 12 0 0016.9-1.6l25.5-31a12 12 0 00-1.7-16.93z"/></svg>
            span.label Address
          address 
            a(href='https://maps.app.goo.gl/R4mNc5Dk8Lo9Kwpc6' target='_blank' rel='noreferrer') Bloomfield Medical<br>
              |  Level 2/1521 Forest Rd, Orange NSW 2800
    //- .col-4.col-12-small
    //-   ul.labeled-icons
    //-     li
    //-       h3.icon.solid.fa-mobile-alt
    //-         span.label Phone
    //-       | 02 6372 3799
    //-     li
    //-       h3.icon.solid.fa-fax
    //-         span.label Fax
    //-       |	02 6372 2849
    .col-6.col-12-small
      ul.labeled-icons
        li
          h3.icon.solid.fa-envelope
            <svg aria-hidden="true" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
            span.label Email
          a(href="mailto:drryan@alignedchiro.com.au") drryan@alignedchiro.com.au