section#three
  h2 Get In Touch
  p Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.
  .row
    //- .col-8.col-12-small
    //-   form(action="#" method="post")
    //-     .row.gtr-uniform.gtr-50
    //-       .col-6.col-12-xsmall
    //-         input#name(type="text" name="name" placeholder="Name")
    //-       .col-6.col-12-xsmall
    //-         input#email(type="email" name="email" placeholder="Email")
    //-       .col-12
    //-         textarea#message(name="message" placeholder="Message" rows="4")
    //-   ul.actions
    //-     li
    //-       input(type="submit" value="Send Message")
    .col-4.col-12-small
      ul.labeled-icons
        li
          h3.icon.solid.fa-home
            span.label Address
          | 2/3 Lovejoy St<br />
          | Mudgee, NSW 2850<br />
          | Australia
    .col-4.col-12-small
      ul.labeled-icons
        li
          h3.icon.solid.fa-mobile-alt
            span.label Phone
          | 02 6372 3799
        li
          h3.icon.solid.fa-fax
            span.label Fax
          |	02 6372 2849
    .col-4.col-12-small
      ul.labeled-icons
        li
          h3.icon.solid.fa-envelope
            span.label Email
          a(href="mailto:ryanhislop@hotmail.com") ryanhislop@hotmail.com