footer#footer
  .inner
    ul.icons
      li
        a.icon.brands.fa-facebook-f(href="https://www.facebook.com/mudgee.chiropractic/" rel="noopener" target="_blank" aria-label="Go to Mudgee Chiropractic Facebook page")
          span.label Facebook
      li
        a.icon.brands.fa-instagram(href="https://www.instagram.com/dr_ryan_chiro" rel="noopener" target="_blank" aria-label="Go to Dr Ryan Hislop's Instagram page")
          span.label Instagram
      li
        a.icon.brands.fa-linkedin(href="https://www.linkedin.com/in/ryanhislop/" rel="noopener" target="_blank" aria-label="Go to Mudgee Chiropractic LinkedIn page")
          span.label Linkedin
      li
        a.icon.solid.fa-envelope(href="mailto:drryan@chwc.com.au" rel="noopener" target="_blank" aria-label="Send an email to drryan@chwc.com.au")
          span.label Email
    ul.copyright
      li &copy; ryanhislop
      li Website built by: 
        a(href="https://aidanhislop.com" rel="noopener" target="_blank")  Aidan Hislop