.inner
  a.image.avatar(href="/")
    img(src="/images/dr-ryan-hislop.jpg" alt="Dr Ryan Hislop")
  h1
    strong Dr Ryan Hislop
    |  is a Chriopractor <br>at the 
    a(href="https://www.chwc.com.au" rel="noopener" target="_blank") Chiropractic Health and<br> Wellness Centre
    |  in mudgee