.inner
  a.image.avatar(href="./")
    picture
      source(srcset="/images/ryanhislop.webp" type="image/webp")
      source(srcset="/images/ryanhislop.jpg" type="image/jpeg")
      img(src="/images/ryanhislop.jpg" alt="Dr Ryan Hislop")
  h1
    strong Dr Ryan Hislop
    |  is a Chiropractor <br>at the 
    a(href="https://www.chwc.com.au" rel="noopener" target="_blank") Chiropractic Health and<br> Wellness Centre
    |  in Mudgee