.inner
  a.image.avatar(href="./")
    picture
      source(srcset="/images/ryanhislop.webp" type="image/webp")
      source(srcset="/images/ryanhislop.jpg" type="image/jpeg")
      img(src="/images/ryanhislop.jpg" alt="Dr Ryan Hislop")
  h1
    strong Dr Ryan Hislop
  h2 
    strong Chiropractor and Partner
  ul
    li B.ChiroSc (Macq), M.Chiro(Macq), DIANM(au)
    li 
      address 
        a(href='https://g.page/OrangeChiroHealth?share' target='_blank' rel='noreferrer') Orange Chiropractic Health &amp; Wellness Centre <br />
          | Level 2 Bloomfield Private Hospital <br />
          | 1521 Forest Road Orange NSW
