section#one
  header.major
    h3 Ryan Hislop is the Clinical Director at the Mudgee Chiropractic Health and Wellness Centre. As an experienced and evidence-based diagnostician, Ryan works largely by medical and specialist referral, although many patients are known to have been referred by their friends or family. 
  p He completed his Chiropractic undergraduate and Clinical Master’s degrees at Macquarie University, Sydney. Ryan then went on to complete further specialised training in neuromusculoskeletal medicine and orthopaedics to become a fellow of the International Academy of Neuromusculoskeletal Medicine (one of four chiropractors in Australia to be currently board certified). 
  ul
    li Clinical Director Mudgee CHWC
    li Fellow of the International Academy of Neuromusculoskeletal Medicine (FIANM)
    li Oceanic Board member IANM
    li Member of the Australian Chiropractors Association
    li Neuromusculoskeletal Medicine Training Program exam writer
    li AHPRA Registered Chiropractor
    //- h3 Dr Hislop uses chiropractic techniques such as diversified, drop piece and chiropractic biophysics in conjunction with ancillary techniques in the management and prevention of injuries of the musculoskeletal system. These interests are encompassed by his desire for optimal health for all his patients.
  //- p After achieving his Bachelor and Masters degrees from Macquarie University, he has been actively involved in the local community as well as overseas. His achievements include being selected for the World Masters Games and NSW Corporate Games Sports Medicine team in 2009 as well as assisting TAFE NSW in the physical and neurological Disabilities Unit up until the last few years.