section#one
  header.major
    h3 Ryan Hislop is a partner of the Orange Chiropractic practice at Bloomfield Medical. As an experienced and evidence-based diagnostician, Ryan works as a primary care provider, which means you do not require a medical referral. Although as part of Bloomfield Medical, he works closely with his medical peers.
    section
      h4 Areas of clinical interest
      ul
        li Chronic non-specific cervical and lumbar spine pain
        li Discogenic pain
        li Facet mediated pain syndromes
        li Sciatica
        li Neurological control of spinal stability
        li Balance disorders (dizziness and vertigo)
  hr
  h3.uppercase Our professional service charter
  h4 All of our referral partners can expect:
  ul 
    li Prompt updates on their diagnosis and treatment plan with additional updates at discharge 
    li Your patients’ will receive an initial trial course of care to determine if our office can help them 
    li We are not a primary care office. It is our experience that patients receive the best results when they are under the care of a chiropractic physician working together with their family doctor
  p We understand the central role of the GP in patient health. We also appreciate the challenges of forging any new professional relationship. So, we embrace collaborative treatment approaches, and ensure that our communication is clear, relevant and timely. 
  p The Chiropractic Health and Wellness Centres have established their reputation in the Central West of NSW at the forefront of evidence-based practice. Since our inception in 2008 we have worked hard to foster good relationships with our medical colleagues, based upon a firm foundation of science and clinical reasoning. We appreciate the trust required to refer one of your patients, so we will always provide you with a comprehensive diagnosis, logical explanations and individualised patient treatment. 
  p The field of spinal diagnosis and management is a crowded one. It is also an area that teems with contradictory theories and unproven treatments. As such, many GPs find the topic of spinal pain an exercise in frustration. Fortunately, 
    abbr(title="Chiropractic Health & Wellness Centre") CHWC
    |  Orange can help. 
  p Ryan Hislop has completed specialised training in orthopaedics to become a diplomate of the International Academy of Neuromusculoskeletal Medicine (
    abbr(title="Diplomate of the International Academy of Neuromusculoskeletal Medicine") DIANM
    | ). He has always emphasised a multi-disciplinary approach to patient care and enjoys the highest level of co-operation with his medical peers. Ryan plays a key role in educating and training the next generation of chiropractors, particularly through his role as subject matter expert and contributor of exam content for specialist board certification examinations conducted by the 
    abbr(title="International Academy of Neuromusculoskeletal Medicine") IANM
    | . 
  ul 
    li Diplomate of the International Academy of Neuromusculoskeletal Medicine (
      abbr(title="Diplomate of the International Academy of Neuromusculoskeletal Medicine") DIANM
      | )
    li Board Certified Chiropractic Orthopaedist (
      abbr(title="Diplomate of the academy of chiropractic orthopedists") DACO
      | )
    li Clinical Director Orange 
      abbr(title="Chiropractic Health & Wellness Centre") CHWC
    li Oceanic Board Member 
      abbr(title="International Academy of Neuromusculoskeletal Medicine") IANM
    li Member of the Australian Chiropractors Association (
      abbr(title="Member of the Australian Chiropractors Association") MACA
      | )
    li Neuromusculoskeletal Medicine Training Program: Subject Matter Expert 
    li 
      abbr(title="Australian Health Practitioner Regulation Authority") AHPRA
      |  Registered Chiropractor
    li 
      abbr(title="International Academy of Neuromusculoskeletal Medicine") IANM
      |  Board Examination Writer
    li Advisor for 
      em Evidence-Based Evaluation &amp; Management of Common Spinal Conditions: A Guide for the Manual Practitioner
