section#one
  header.major
    h3 Dr Hislop uses chiropractic techniques such as diversified, drop piece and chiropractic biophysics in conjunction with ancillary techniques in the management and prevention of injuries of the musculoskeletal system. These interests are encompassed by his desire for optimal health for all his patients.
  p After achieving his bachelor and masters degrees' from Macquaire University, he has been actively involved in the local community as well as abroad with particular achievements in being selected for the World Masters Games and NSW Corporate Games Sports Medicine team in 2009 as well as assisting TAFE NSW in the physical and neurological disabilities unit up until the last few years.
  //- ul.actions
  //-   li
  //-     a.buttons(href="#") Learn More