<!DOCTYPE html>
html(lang="en")
  include ../inc/head
    title Smartphone posture epidemic
  body.is-preload
    header#header
      include ../inc/header
    #main
      section
        header.major
          p April 15 | Dr Ryan Hislop
          h1 Smartphone posture epidemic
          h3 From the interview with Paul Henry and Heidi Haavik. If you like, you can 
            a(href="https://www.youtube.com/watch?v=AHCeksbDa2Y") watch the full interview here
            | .
        p Technology is doing some major damage to our younger generations, and it's not just their minds that are affected.
        p A study by British chiropractors has found almost half of 16- to 24-year-olds have severe aches in the neck and back, which is up 60 percent on last year.
        p The rise is being attributed to the fact we spend an average of 195 minutes a day looking at our smartphones.
        p Chiropractors around the world believe that it's ruining the posture of a generation, and human neurophysiologist Heidi Haavik agrees - she joined Paul Henry this morning to discuss the study.
        p 
          em "Your head is as heavy as a bowling ball," 
          | said Dr Haavik, so when you sit with your head down while looking at your smartphone, it is 
          em "hanging on your muscles and ligaments, actually causing serious damage to your spine"
          | . 
      include ../inc/contact
    include ../inc/footer
    include ../inc/foot